body {
    display: flex;
    /* background: linear-gradient(navy, blue); */
    /* background: -moz-linear-gradient(red,yellow,blue); */
    background: linear-gradient(white, blue);
    margin: 0px;
    height: 100vh;
}

.container {
    width: 100vw;
}

.nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /* background: pink; */
}

.box {
    display: flex;
    height: 20vh;
    align-items: center;
    background: white;
    /* overflow:auto; */
    /* justify-content: center; */
    /* margin:auto; */
}

.circle {
    position: relative;
    float:left;
    /* margin:auto; */
    left:50px;
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background: red;
}

.circle::after {
    float:left;
    content: "";
    /* display: inline-block; */
    position: absolute;
    /* margin:atuo; */
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background: blue;
    left: 100%;
    top: 20%;
}


.circle::before {
    float:left;
    content: "";
    /* display: inline-block; */
    position: absolute;
    /* margin:atuo; */
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background: green;
    left: -100%;
    top: -20%;
}

.circle:hover {
    background: gray;
}