body {
    height: 100vh;
    background: linear-gradient(rgb(82, 153, 219),navy);
    /* margin-top: 0vh; */
    margin-right: 0vw;
    margin-left: 0vw;
    line-height: 0;
}
.container {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    background: rgb(0, 183, 255);
}