<!doctype <!DOCTYPE html>
<html>

<head>
    <style>
        
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.w3schools.wang/w3.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div class='container'>
        <!-- navigation bar -->
        <!-- <div class='w3-top'> -->
        <ul class="w3-navbar w3-light-grey">
            <li><a href="#">Home</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
        <!-- </div> -->
        {% block content %} {% endblock %}
        <!-- <div class='box'> -->
            <!-- <div class='circle'> -->

            <!-- </div> -->
        <!-- </div> -->
    </div>
</body>

</html>