<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello Visitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" type="text/css" href="http://cdn.w3schools.wang/w3.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <!-- whole container -->
    <div class='container'>
        <!-- top navigation bar  -->
        <div class='w3-top'>
            <ul class="w3-navbar w3-light-grey">
                <li><a href="#"><i class="fa fa-home w3-xlarge"></i></a></li>
                <li><a href="#">Article</a></li>
                <li><a href="#">Analysis</a></li>
                <!-- <li class="w3-right"><a href="#"><i class="fa fa-search w3-xlarge"></i></a></li> -->
                <!-- <li class="w3-right"><a href="#"><i class="fa fa-envelope w3-xlarge"></i></a></li> -->
                <li class="w3-right"><a href="#"><i class="fa fa-sign-in w3-xlarge"></i></a></li>
            </ul>
        </div>
        <div class="w3-contaner">

        </div>
    </div>
</body>

</html>